html, body {
  height: 100%;
  padding-top: 40px;
}

.panel-body-height {
  height: 65vh;
  overflow: auto;
}

textarea {
  resize: none;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.max-height {
  max-height: 30vh;
  overflow: auto;
}

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-flex>[class*='col-'] {
  display: flex;
  flex-direction: column;
}

.costum-hr {
  margin-left: 0;
  margin-right: 0;
}

#snackbar {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 0.5s 2.5s;
  animation: fadein 1s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
